.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.box__dcz0V {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  max-width: 1600px;
  min-width: 0;
}
.box__dcz0V > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box__dcz0V > :global(.__wab_flex-container) > *,
.box__dcz0V > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.section__kYp8V:global(.__wab_instance) {
  position: relative;
}
.box___9F4Ri {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box___9F4Ri > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box___9F4Ri > :global(.__wab_flex-container) > *,
.box___9F4Ri > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___9F4Ri {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___9F4Ri > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___9F4Ri > :global(.__wab_flex-container) > *,
  .box___9F4Ri > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.plan__ths3L:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.box__cMbqC {
  font-size: 48px;
}
.box__gl9Fk {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__gl9Fk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__gl9Fk > :global(.__wab_flex-container) > *,
.box__gl9Fk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet__w14UB:global(.__wab_instance) {
  position: relative;
}
.bullet__rApv4:global(.__wab_instance) {
  position: relative;
}
.bullet__qbzHc:global(.__wab_instance) {
  position: relative;
}
.plan__td5Pi:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.box__uu4BZ {
  font-size: 48px;
}
.box__oGXf8 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__oGXf8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__oGXf8 > :global(.__wab_flex-container) > *,
.box__oGXf8 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet___5IxAt:global(.__wab_instance) {
  position: relative;
}
.bullet___1ZfMa:global(.__wab_instance) {
  position: relative;
}
.bullet__hB3Yz:global(.__wab_instance) {
  position: relative;
}
.bullet__vWWiu:global(.__wab_instance) {
  position: relative;
}
.plan__giTxW:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.box__erECl {
  font-size: 48px;
}
.box__xk27W {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__xk27W > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__xk27W > :global(.__wab_flex-container) > *,
.box__xk27W > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet___3ZlhX:global(.__wab_instance) {
  position: relative;
}
.bullet__oSk7X:global(.__wab_instance) {
  position: relative;
}
.bullet__yDrf2:global(.__wab_instance) {
  position: relative;
}
.section__cVf0R:global(.__wab_instance) {
  position: relative;
}
.faq__m6Gwi:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq___3HB6H:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq___9WBiS:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
